#bg-wrapper {position: sticky;
    top:0;
    width: 100%;
    height: 100vh;
    margin-top:-100vh;
    background-color: white;
    background-image: url("/img/bg.png");
    background-blend-mode: luminosity;
    background-attachment: fixed;
    border-radius:0;}
#bg-wrapper.dark-mode {position: sticky;
    top:0;
    width: 100%;
    height: 100vh;
    margin-top:-100vh;
    background-color: black;
    background-image: url("/img/bginvert.png");
    background-blend-mode: difference;
    background-attachment: fixed;
    border-radius:0;}
#bg-wrapper2 {position: relative;
    top:0;
    width: 100%;
    height: 100vh;
    background-blend-mode: saturation;
    backdrop-filter: contrast(150%) saturate(350%);
    margin-top:-100vh;
    background: linear-gradient(to bottom, 
    rgba(128, 128, 128, .5) 0%,
    rgba(128, 128, 128, 0) 50%,
    rgba(128, 128, 128, .5) 100%);
    border-radius:0;}
#bg-wrapper3 {position: relative;
    opacity: .1;
    top:0;
    width: 100%;
    height: 100vh;
    background-blend-mode: saturation;
    backdrop-filter: contrast(150%) saturate(350%);
    margin-top:-100vh;
    background: linear-gradient(to right, 
    rgba(128, 128, 128, .5) 0%,
    rgba(128, 128, 128, .3) 10%,
    rgba(128, 128, 128, 0) 50%,
    rgba(128, 128, 128, .3) 90%,
    rgba(128, 128, 128, .5) 100%);
    border-radius:0;}
#bg {position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
    border-radius:0;}
.color-box {width: 100%; height: 100%;}
.color-box, #overlay, #overlay2 {position: fixed; border-radius:0;}
.hidden {opacity: 0;}
@keyframes rotate-clockwise {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes rotate-counterclockwise {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}
#overlay {
    animation: rotate-clockwise 3s ease-in infinite alternate;
}
#overlay2 {
    animation: rotate-counterclockwise 3.3s ease-out infinite alternate;
}
