.yt-wrapper {
  display: none;
  position: relative;
  padding: 56.25% 0 0 0;
}
.yt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 82vh;
  border: 0;
}
#expand-icon {
  opacity: .6;
  width: 2.5rem;
  position: fixed;
  bottom: 5rem;
  right: .2rem;
  padding:1rem 0;
  background-image:url(../img/expand-icon.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
}
#now-playing-text {
  font-size: 70%;
  opacity: .55;
  position: fixed;
  bottom: 7rem;
  right: 0;
}
#now-playing-text:hover {
  opacity: .75;
}
#remote-control {
  opacity: .7;
  position: fixed;
  bottom: 5.5rem;
  right: .2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1.5rem 0 .5rem 1rem;
  transition: all .45s;
}
#remote-control:hover {
  opacity: .9;
}
#remote-control button {
  position: fixed;
  right: .3rem;
  bottom: 8rem;
}
#remote-control a {
  margin-right: 0;
  padding-right: 0;
}
